@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ESTILO DO CABEÇALHO */

#navbarflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbarflex .logo h1,
#menu li a:hover {
  font-weight: 700;
}

#navbarflex .logo,
#list {
  margin: 0 30px 0 60px;
}

#menu {
  display: flex;
  list-style: none;
  padding: 1rem;
}

#menu li a {
  text-decoration: none;
  padding: 1rem;
  color: #212121;
}

#menu li a:hover {
  font-weight: 600;
}

#line {
  width: calc(100% - 180px);
  margin: 0 auto;
  padding-bottom: 20px;
}

/* ESTILO DO CONTEUDO DA PÁGINA */
#container {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
}

/* ESTILO DA AREA DA IMAGEM */
#divImg {
  max-width: 100%;
}

/* ESTILO DAS INFORMAÇÕES DA PÁGINA */
#divText {
  display: grid;
  padding: 0px 40px 0px 60px;
  grid-template-rows: 1fr 30% 8% 5%;
}

/* ESTILO DO TITULO */
#text-h1 {
  padding-right: 10px;
  color: #212121;
  font-size: 5rem;
  text-align: start;
  place-self: center start;
}

/* ESTILO DA DESCRIÇÃO */
#text-p {
  padding-right: 100px;
  place-self: start start;
  text-align: start;
  color: #707070;
  font-weight: bold;
  font-size: 1.2rem;
}

/* ESTILO DA AREA DO INPUT E DO BOTÃO */
#buttons {
  display: flex;
  position: relative;
}

#subscribe-button {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #3b3b3b;
  border-radius: 5px;
  padding: 15px 70px;
  border: none;
  position: absolute;
  right: -235px;
  cursor: pointer;
}

/* ESTILO DO ÚLTIMO TEXTO */
#detailTextRed {
  color: #f00;
}

/* ESTILO DO INPUT */
#email-input {
  font-size: 1.1rem;
  box-shadow: 3px 3px 12px #ddd;
  border-radius: 10px;
  color: #a5a5a5;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
}

/* ESTILO DA AREA DOS PRODUTOS */
#ProductsArea {
  margin: 100px 0 100px 0;
  padding: 50px 0px 100px 0px;
  background: #fffafa;
}

.productsText {
  margin-bottom: 40px;
  margin-left: 30px;
}

#title {
  color: #000;
  margin-left: 30px;
}

#description {
  color: #7a7a7a;
  margin-left: 30px;
}

#produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 60px;
  padding: 0 60px;
  margin: 0px 30px 0px 30px;
}

.card {
  background-color: #fff;
  height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.04);
}

.b__color--roxo {
  border-top: 6px solid #803686;
  border-radius: 5px;
}

.b__color--orange {
  border-top: 6px solid #ffa463;
  border-radius: 5px;
}

.b__color--red {
  border-top: 6px solid #ff4500;
  border-radius: 5px;
}

.b__color--blue {
  border-top: 6px solid #4400ff;
  border-radius: 5px;
}

.card:last-child {
  grid-column: 2/3;
}

.titleCard {
  margin-bottom: 10px;
  color: #000;
}

.descriptionCard {
  font-size: 14px;
  color: #868586;
}

.icone {
  align-self: end;
  margin-top: 70px;
  width: 120px;
}

/* ESTILO DO FOOTER */
#line-footer,
#rodape {
  color: #fff;
}

#rodape {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  background: #575656;
}

.info {
  width: 300px;
  padding: 55px 0px;
}

.info ul {
  list-style: none;
}

.info h3 {
  padding-bottom: 1.5rem;
}

.info p {
  line-height: 2rem;
}

#line-footer {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  background: #3b3b3b;
}
