@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto:wght@400;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* ESTILO DO CONTEUDO DA PÁGINA */
#container{
    display:grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
}

/* ESTILO DA AREA DA IMAGEM */
#divImg{
    max-width: 100%;
}

/* ESTILO DAS INFORMAÇÕES DA PÁGINA */
#container #divText{
    display: grid;
    padding-left: 60px;
    grid-template-rows: 1fr 30% 8% 5% ;
}

/* ESTILO DO TITULO */
#text-h1{
    color:#212121;
    font-size: 5.8rem;
    text-align: start;
    place-self:end;
}

/* ESTILO DA DESCRIÇÃO */
#text-p{
    /* background-color: #ff0; */
    place-self: center;
    text-align: start;
    width: 100%;
    color: #9A5151;
    font-weight:bold;
    font-size:1.25rem
}

/* ESTILO DA AREA DO INPUT E DO BOTÃO */
#buttons{
    display: flex;
}

/* ESTILO DO ÚLTIMO TEXTO */
#underline{
}

/* ESTILO DO INPUT */
#buttons input{
    width:100%;
    padding: 15px;
    border:none;
    outline:none
}


/*
INFORMAÇÕES: 

background: #FFFFFF
h1: #212121
p:  #9A5151
background input e-mail: #FFFFFF - border-radius: 5px;
color text input e-mail: #A5A5A5
texto em baixo do input: #888C8E
cor do botão: #3B3B3B - border-radius 5px;
cor do texto do botão: #FFFFFF 
*/